/* Configurações basicas */
:root {
    --corPrincipal: #E30048;
    --corPrincipalEscura: #8D002D;
    --corHeader: #F5E8E8;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
input[type="submit"]{
    cursor: pointer; 
}
