* {
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 1.2em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
header a{
    width: min-content;
    display: flex;
    text-decoration: none;
}
header p{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    font-size: 140%;
    margin-left: 10px;
    color: #D9D9D9;
}
header > div{
    display: flex;
}
.headerEsquerda{
    width: 85%;
    align-items: center;
}
header form{
    display: flex;
    align-items: center;
    margin-left: 25px;
    background-color:  #F8F1EE;
    width: 100%;
    padding: 8px;
    border-radius: 30px;
}
header form input[type="image"]{
    display: block;
    width: min-content;
    height: min-content;
    background-color: transparent;
    width: 25px;

    margin: 0;
}

header form input[type="search"]{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    margin-left: 5px;
}

header .headerDireita{
    display: flex;
    align-items: center;
    
}
header .headerDireita a{
    color: black;
}
header .headerDireita img{
    margin: 0 20px;
}
header .headerDireita button{
    display: block;
    background-color: transparent;
    border: none;
	color: #FFFFFF;
	font-weight:normal;
	transition: transform 80ms ease-in;
    width: 50%;
    margin: 0 auto;
    font-size: 17px;
    cursor: pointer;
}

#pagFeed ol {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: 300px; */
    /* margin-right: 300px; */
    align-items: center;
    /* gap: 5px; */
    flex-wrap: wrap;
    align-content: center;
}

#pagFeed li {
    height: 200px;
    width: 200px;
}

#pagFeed li img{
    border-radius: 1em;
}