
.gallery img {
    cursor: pointer;
    width: 150px; /* Reduz o tamanho das imagens na galeria */
    height: auto;
    margin: 5px;
    transition: transform 0.3s;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    display: block;
    margin: auto;
    margin-top: 22em;
    max-width: 90%; /* A imagem ocupará até 90% da largura da janela */
    max-height: 90%; /* A imagem ocupará até 90% da altura da janela */
    transform: scale(3.1); /* Faz parecer ampliada */
    transition: transform 0.3s; /* Anima a expansão da imagem */
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

.fotodoperfil{
    border-radius: 100%;
    width: 3em;
    height: 3em;}

.escrita{
    color: white;}

#org1{
    display: flex;
    align-items: center;}