#pagPerfil header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
                                      url("../imgs/excluirDepois/imgDestaque.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 20em;
}

#pagPerfil div.esquerda{
    box-sizing: border-box;
    width: 70%;
    padding: 5px;
}
#pagPerfil div.esquerda h1{
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
    margin: 1em 0;
}
#pagPerfil div.esquerda ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#pagPerfil div.esquerda ul li{
    list-style-type: none;
    margin: 0 0.5%;
    margin-bottom: 10px;
    width: 19%; /* tam img */
}
#pagPerfil div.esquerda ul li img{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#pagPerfil div.direita{
    box-sizing: border-box;
    width: 25%;
    background-color: #f1f1f1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    text-align: center;
    position: fixed;
    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.4);
    padding-top: 6em;
    bottom:0;
    right: 1%;
    height: 75vh; 
}
#pagPerfil div.direita figure {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
    overflow: hidden;  
}
#pagPerfil div.direita figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#pagPerfil div.direita h1{
    text-align: center;
    font-size: 150%;
}
#pagPerfil div.direita span{
    display: flex;
    margin: 1em 0;
    text-align: center;
    color: rgb(109, 109, 109);
    font-size: 110%;
    justify-content: center;
    align-items: center;
}
#pagPerfil div.direita span img{
    width: 25px;
    margin-right: 5px;
}
#pagPerfil div.direita p{
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    font-size: 110%;
}
#pagPerfil div.direita a{
    display: flex;
    align-items: center;
    color: rgb(109, 109, 109);
    text-decoration: none;
    margin-bottom: 1em;
    font-size: 125%;
}
#pagPerfil div.direita a img{
    margin-right: 5px;
    display: block;
}
#pagPerfil div.direita > button{
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    font-size: 150%;
}
#pagPerfil div.direita > button:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px) {
	#pagPerfil div.direita {
		width: 40%;
	}
    #pagPerfil div.esquerda{
        width: 55%;
    }
    #pagPerfil div.esquerda > figure{
        margin-bottom: 1em;
    }
    #pagPerfil div.esquerda ul li{
        width: 24%;
    }
}

@media screen and (max-width: 500px) {
	#pagPerfil div.direita {
		width: 55%;
        box-sizing: border-box;
	}
    #pagPerfil div.esquerda{
        width: 45%;
        box-sizing: border-box;
    }
    #pagPerfil div.esquerda ul li{
        width: 47%;
        margin: 0 1%;
        margin-bottom: 1em;
    }
}