.criarPost{
    width: 100%;
}

.criarPost .criarTituloPost{
    width: 98%;
    box-sizing: border-box;
    margin: 1em 1%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
}
.criarPost .criarTituloPost > div{
    width: 100%;
    background-color: #F5E8E8;
    box-sizing: border-box;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.criarPost .criarTituloPost > div label{
    color: var(--corPrincipal);
}
.criarPost .criarTituloPost > div button{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.criarPost .criarTituloPost > input, .criarPost .criarTituloPost >  select{
    outline: none;
    padding: 6px;
    border: none;
    margin: 1em;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}


.criarPost input[type="file"]{
    display: none;
}


.criarPost .criarPostEsquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    border-radius: 8px;
    box-sizing: border-box;
}
.criarPost .criarPostEsquerda > figure{
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: top;
    border-radius: 8px;
}
#criarPostEditarLapis{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 1em;
}
.criarPost .criarPostEsquerda > figure img#imgFundo{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    object-fit: cover; 
    
}
.criarPost .criarPostEsquerda > figure img{
    cursor: pointer;
}
.criarPost .criarPostImagemSelecionada{
    border: 2px solid var(--corPrincipal);
}
.criarPost .criarPostEsquerda  button{
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #B0B0B0;
    font-size: 17px;
    position: absolute;
    width: 65%;
    height: 80%;
}
.criarPost .criarPostEsquerda  button img{
    display: block;
    margin: 1em auto;

}


.criarPost .criarLadoLadoPost{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.criarPost .criarPostEsquerda{
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
}
.criarPost .criarPostDireita{
    width: 30%;
    margin-right: 1%;
    box-sizing: border-box;
}
.criarPost .campoCriarPostComum{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
}
.criarPost .campoCriarPostComum label{
    display: block;
    width: 100%;
    background-color: #F5E8E8;
    color: #646464;
    padding: 0.5em;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.criarPost .campoCriarPostComum textarea{
    border: none;
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.criarPost .campoCriarPostComum hr{
    border: 1% solid black;
}
.criarPost .campoCriarPostComum > figure{
    width: 45%;
    box-sizing: border-box;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.criarPost .campoCriarPostComum > figure figcaption{
    width: 100%;
    text-align: center;
}

.criarPost .campoCriarPostComum .botaoComum{
    border-radius: 14px;
    color: #646464;
    padding: 7px;
    margin: 1em 0;
    background-color: #FFFFFF;
    cursor: pointer;
}
.criarPost .botaoComum img{
    width: 15px;
}
.criarPost .campoCriarPostComum p{
    margin-bottom: 1em;
}
.textoAnexeImagens{
    display: block;
    width: 100%;
    text-align: center;
}

.criarPost .criarPostEnviarArea{
    border-radius: 8px;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.criarPost .criarPostEnviarArea button, .criarPost .criarPostEnviarArea input{
    display: block;
    margin: 0 auto;
    padding: 0.3em 1.4em;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}
.criarPost .criarPostEnviarArea button{
    border: 1px solid #519898;
    color: #519898;
    cursor: pointer;
}
.criarPost .criarPostEnviarArea input{
    margin-bottom: 0.5em;
    border: 1px solid var(--corPrincipal);
    color: var(--corPrincipal);
}


.criarPost .criarPostSensivel{
    margin: 0 1%;
    margin-top: 1em;
    width: 98%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.criarPost .criarPostSensivel label{
    margin-right: 8px;
    color: #747474;
}
.criarPost .criarPostSensivel input{
    transform: scale(1.3);
}

.modalAvisoArea{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    visibility: hidden;
}
.modalAvisoArea .modalAviso{
    max-width:  400px;
    visibility: visible;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    background-color: #FFFFFF;
    padding: 1em 1.5em;
    border-radius: 10px;
    transition-property: opacity;
    transition-duration: 500ms;
}
.modalAvisoArea .modalAviso > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 1em;
}
.modalAvisoArea .modalAviso > div button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.modalAvisoArea .modalAviso > div figure{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
}

.modalAvisoArea .modalAviso  > h3{
    margin-bottom: 0.3em;
}

.modalAvisoArea .modalAviso > ul{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.modalAvisoArea .modalAviso > ul li{
    box-sizing: border-box;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalAvisoArea .modalAviso > ul li button, .modalAvisoArea .modalAviso > ul li a{
    width: 100%;
    height: 100%;
    padding: 0.7em 2em;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    cursor: pointer;
}
.modalAvisoArea .modalAviso > ul li a{
    background-color: var(--corPrincipal);
    color: #FFFFFF;
}

.criarPost  #carroselCriarPost{
    margin-top: 1em;
    padding: 10px;
}

/*  */

.criarPost #modalTagsCriarPostArea, .criarPost #modalFerramentasCriarPostArea{
    display: none;
    opacity: 0;
    width: 60%;
    height: min-content;
    justify-content: right;
    position: absolute;
    left: unset;
    top: unset;
    right: 0;
}


.criarPost #modalTagsCriarPostArea .btModalAvisoVermelho, .criarPost #modalFerramentasCriarPostArea .btModalAvisoVermelho{
    background-color: var(--corPrincipal);
    color: #FFFFFF;
}
.criarPost .ModalSecaoTag{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    box-sizing: border-box;
}
.criarPost .ModalSecaoTag > div{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #D0D5DD;
    padding: 5px;
    margin-bottom: 5px;
}
.criarPost .ModalSecaoTag > div input{
    width: 100%;
    padding: 2px;
    outline: none;
    border: none;
    padding-left: 6px;
    box-sizing: border-box;
}
.criarPost .ModalSecaoTag > div button{
    font-weight: bold;
    background-color: #2FA776;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 100%;
    box-sizing: border-box;
}



.criarPost .tagAzul{
    color: #699AB9;
    background-color: #F0F9FF;
}
.criarPost .tagVerdeAgua{
    color: #519898;
    background-color: #e6f3f3;
}
.criarPost .tagVerde{
    color: #2FA776;
    background-color: #dff8ee;
}
.criarPost .tagAmarelo{
    color: #EFC13D;
    background-color: #fffcf1;
}
.criarPost .tagVermelho{
    color: var(--corPrincipal);
    background-color: #FDF2FA;
}

.criarPost .listaTags{
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.criarPost .listaTags li{
    display: flex;
    align-items: center;
    padding: 1px 6px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 7px;
    margin-bottom: 7px;
}
.criarPost .listaTags li button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}
.criarPost .listaTags li p{
    margin: 0;
}


.modalPostSucesso{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.modalPostSucesso > div{
    width: 20%;
    background-color: #FFFFFF;
    padding: 1.5em;
    border-radius: 20px;
}
.modalPostSucesso > div > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    width: 100%;
}
.modalPostSucesso > div > div figure {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D1FADF;
    border-radius: 100%;
    padding: 0.5em;
    border: 8px solid #ECFDF3;
}
.modalPostSucesso > div > div button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.modalPostSucesso > div > span{
    display: block;
    margin-top: 0.5em;
    color: #475467;
}
.modalPostSucesso > div > button{
    margin-top: 2em;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    color: var(--corPrincipal);
    font-weight: bold;
}