.feed {
    width: 100%;
}

.feed .espacamentoFeedComum {
    padding: 0 1%;
}

.feed > h1 {
    color: var(--corPrincipal);
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5em;
}

.feed > h1 > b {
    color: #699AB9;
    text-align: center;
}

.feed form select.botaoComum {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 90%;
    outline: none;
    margin-top: 10px;
    border-radius: 20px;
}
.feed form select.botaoComum  option{
    background-color: #FFFFFF;
    color: var(--corPrincipal);
}

.feed form button.botaoComum {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 90%;
    border-radius: 20px;
}

.menuCategoriasFiltro{
    display: flex;
    align-items: center;
    margin-top: 1em;
    overflow-x: auto;
    padding: 0.3em 0;
}
/* Personalizando barrinha */
.menuCategoriasFiltro::-webkit-scrollbar {
    height: 4px;
}

.menuCategoriasFiltro::-webkit-scrollbar-thumb {
    background-color: var(--corPrincipal); 
    border-radius: 6px;
}
.menuCategoriasFiltro::-webkit-scrollbar-thumb:hover{
    cursor:grab;
}


.menuCategoriasFiltro li{
    display: flex;
    align-items: center;
    margin: 0 1em;
}
.menuCategoriasFiltro li a{
    display: flex;
    align-items: center;
    color: var(--corPrincipal);
    padding-right: 10px;
    border-radius: 20px; 
}
.categoriaSelecionada {
    font-weight: bold; /* Exemplo de destaque */
    color: #E30048; /* Cor personalizada para destacar */
    background-color: rgba(227, 0, 72, 0.1); /* Cor de fundo suave para o item selecionado */
    
}

.areaOrdernarRapido {
    left: 0;
    bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
}

.areaOrdernarRapido ul {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

}

.areaOrdernarRapido ul button {
    cursor: pointer;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    background-color: transparent;
    font-size: 100%;
    transition-duration: 500ms;
    transition-property: background-color, color;
    transition-timing-function: linear;
    margin: 0 0.4em;

}
.areaOrdernarRapido ul button.ativo {
    font-weight: bold;
    color: #E30048;  
    background-color: rgba(227, 0, 72, 0.1);

}

.areaOrdernarRapido ul button:hover {
    background-color: var(--corPrincipal);
    color: white;
}

.feed .btVoltarTopo {
    background-color: transparent;
    position: fixed;
    border: none;
    left: 0.5em;
    bottom: 2em;
    cursor: pointer;
}

.feed .postsArea {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: 1.4em 0;
}

.feed .postFeed {
    margin: 0 1%;
    margin-bottom: 1em;
    width: 23%;
    box-sizing: border-box;
}

.feed .postFeed > figure {
    width: 100%;
    margin-bottom: 4px;
}

.feed .postFeed > figure a {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.feed .opcoesPostFeed{
    display: flex;
    align-items:center;
    position: absolute;
    z-index: 2;
    margin-left: 18%;
    margin-bottom: 32vh;
    border-radius: 100%;
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-property: background-color;

}
.feed .opcoesPostFeed > img{
    width: 30px;
    padding: 1em 0.5em;
    cursor: pointer;
}
.feed .opcoesPostFeed:hover{
    background-color: var(--corPrincipal);
    
}
.feed .postFeed > figure a img {
    width: 100%;
    height: 40vh;
    border-radius: 8px;
    transition-duration: 200ms;
    transition-property: box-shadow;
    transition-timing-function: linear;
}

.feed .postFeed > figure a img:hover {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.feed .postFeed > figure a figcaption {
    position: absolute;
    color: #FFFFFF;
    padding-left: 9px;
    padding-bottom: 9px;
}

.feed .postFeed>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed .postFeed>div figure a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--corPrincipal);
}

.feed .postFeed > div figure a img {
    margin-right: 3px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

.feed .postFeed > div button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--corPrincipal);
}

.feed .postFeed>div button img {
    margin-left: 3px;
}


.areaCarroselNovosUsuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.areaCarroselNovosUsuarios > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.areaCarroselNovosUsuarios .areaTextoCarrosel p {
    display: flex;
    align-items: center;
    font-size: 120%;
}

.areaCarroselNovosUsuarios .areaTextoCarrosel p img {
    margin-left: 7px;
}

#btClassificarFeed{
    margin-top: 1em;
}

#btClassificarFeed > ul{
    position: absolute;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin-top: 12em;
    margin-left: 10em;
    padding: 1em;
    text-align: left;
    width: 150px;
    border-radius: 5px;
    z-index: 2;
}
#btClassificarFeed > ul button{
    margin: 0.5em 0em;
    background-color: transparent;
    border: none;
    color: #000000;
    transition-duration: 200ms;
    transition-property: font-weight;
    transition-timing-function: linear;
}

#btClassificarFeed > ul button:hover{
    color: var(--corPrincipal);
}

#btClassificarFeed > ul button.btClassificarFeedSelecionado{
    color: var(--corPrincipal);
}

@media screen and (max-width: 1000px) {
    .feed .postFeed {
        width: 31.33%;
    }
    .feed .opcoesPostFeed{
        margin-left: 23.33%;
    }
}

@media screen and (max-width: 700px) {
    .feed .postFeed {
        width: 48%;
    }
    .feed .opcoesPostFeed{
        margin-left: 30%;
    }
}