.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 2; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2em;
    height: 90px;
    background-color: var(--corHeader);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #00000025;

  }
  .headerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .headerLogo img{
    margin-right: 1em;
  }
  .headerEsquerda, .headerEsquerda ul, .headerEsquerda form{
    display: flex;
    align-items: center;
  }
  
  .headerEsquerda {
    width: 45%;
  }
  .headerEsquerda  > a{
    margin-right: 10px;
  }
  
  .headerEsquerda > ul > li > a{
    font-size: 20px;
    font-weight: lighter;
    margin: 0 10px;
    color: var(--corPrincipal);
  }
  .headerEsquerda form {
    width: 100%;
    margin-left: 10px;
  }
  .headerEsquerda form div{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 6px;
    margin: 0 10px;
    margin-left: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(121, 120, 120, 0.3);
    border: 1px solid #F5E8E8;
    width: 500px;
  }
  .headerEsquerda form div input[type="text"]{
    outline: none;
    border: none;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
  }
  .headerEsquerda form div input[type="text"]::placeholder{
    font-family: 'UbuntuLeve';
    color: #B0B0B0;
    font-size: 14px;
  }
  header form input[type="submit"]{
    font-size: 14px;
  }
  
  .headerEsquerda form > input{
    height: 100%;
    color: #FFFFFF;
  }
  
  .headerDireita > ul{
    display: flex;
    align-items: center;
  }
  .headerDireita > ul > li{
    margin: 0 8px;
  }
  
  .botaoComum p{
    font-size: 14px;
  }
  
  .marginEsquerda{
    margin-left: 10px;
  }
  .tirarMarginDireita{
    margin-right: 0;
  }
  
  @media screen and (max-width: 1018px) {
    .headerEsquerda form div{
        width: 100%;
    }
    .headerEsquerda{
        width: 75%;
    }
  
  }
  
  .trasicaoEsconder{
    transition: opacity 0.3s linear 0s, visibility 0.1s linear 0.3s;
  }
  .transicaoMostrar{
    transition: opacity 0.3s linear 0.1s, visibility 0.1s linear 0.0s;
  }
  .headerEscondido{
    opacity: 0;
    visibility: hidden
  }

 .modalOpcoesComumHeader{
    width: 170px !important; 
  }
  /* Responsividade */
  @media screen and (max-width: 800px) {
    .headerEsquerda{
        width: 75%;
    }
  .botaoComum p{
        display: none;
    }
    .botaoComum img{
        margin: 0;
    }
    .headerEsquerda  > a{
        margin-right: 5px;
    }
    .headerEsquerda > ul > li > a{
        margin: 0 6px;
    }
    .headerEsquerda form {
        margin-left: 0;
    }
    .headerEsquerda form > input{
        display: none;
    }
  
  }