.pagMinhaAtividade{
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: right;
    box-sizing: border-box;
    padding-top: 1.5em;
}
.pagMinhaAtividade > div{
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    display: flex;
    width: 75%;
    min-height: 55vh;
    margin-right: 1.5em;
    box-sizing: border-box;
}
.introducaoMinhaAtividade{
    width: 25%;
    border-right: 1px solid #DFDFDF;
}
.introducaoMinhaAtividade h3{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 2em;
    font-size: 100%;
    font-weight: normal;
    border-bottom: 1px solid #DFDFDF;
}
.introducaoMinhaAtividade ul{
    width: 100%;
    box-sizing: border-box;
    padding-left: 1em;
}
.introducaoMinhaAtividade ul li{
    display: flex;
    align-content: flex-start;
    justify-content: left;
    box-sizing: border-box;
    margin: 2em 0;
}
.introducaoMinhaAtividade ul li figure{
    max-width: 40%;
}
.introducaoMinhaAtividade ul li div{
    box-sizing: border-box;
    margin-left: 10px;
    padding-right: 10px;
}
.introducaoMinhaAtividade ul li h4{
    margin-bottom: 10px;
    box-sizing: border-box;
    font-weight: normal;
}
.introducaoMinhaAtividade ul li span{
    width: 100%;
    box-sizing: border-box;
    color: #535050;
    font-size: 90%;
}


.conteudoMinhaAtividade {
    width: 100%;
    box-sizing: border-box;
}
.conteudoMinhaAtividade .tabsAtividade{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
    align-content: stretch;
}

.conteudoMinhaAtividade .tabsAtividade li button{
    box-sizing: border-box;
    padding: 10px 2em;
    font-size: 100%;
    font-weight: normal;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DFDFDF;

    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-property: border-color;
}
.conteudoMinhaAtividade .tabsAtividade li.tipoAtividade button:hover{
    border-bottom: 1px solid var(--corPrincipal);
}
.conteudoMinhaAtividade .tabSelecionadaAtividade{
    border-bottom: 1px solid var(--corPrincipal) !important;
}

.ocupaEspacoAtividade{
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
    align-content: stretch;
    padding: 10px 2em;
}
.ocupaEspacoAtividadeEsquerdo{
    width: 5%;
}

.postsCurtidosAtividade > div, .postsComentariosAtividade > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 2.5em;
}
.postsCurtidosAtividade > div > div{
    display: flex;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}
.postsCurtidosAtividade > div > div > .classificarFiltrar{
    background-color: transparent;
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    padding: 5px 1em;
    color: var(--corPrincipal);
}
.postsCurtidosAtividade > div > div > h5, .postsComentariosAtividade > div > h5{
    margin-right: 1em;
    font-size: 100%;
    font-weight: normal;
}
.postsCurtidosAtividade > div > button, .postsComentariosAtividade > div > button{
    background-color: transparent;
    border: none;
    color: var(--corPrincipal);
}
.postsCurtidosAtividade, .postsComentariosAtividade {
    padding: 0 1em;
    box-sizing: border-box;
}
.postsCurtidosAtividade ul{
    box-sizing: border-box;
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    height: 35vh;
    overflow-y: auto;
}
.postsCurtidosAtividade ul::-webkit-scrollbar {
    width:  15px;
    background-color: #E4E4E4;
    border-radius: 10px;
}

.postsCurtidosAtividade ul::-webkit-scrollbar-thumb {
    background-color: var(--corPrincipal); 
    border-radius: 10px;
}


.postsCurtidosAtividade ul::-webkit-scrollbar-button:hover {
    background-color: #969292; 
}


.postsCurtidosAtividade ul li{
    margin: 0 1%;
    margin-bottom: 1em;
    width: 23%;
    box-sizing: border-box;
    cursor: pointer;
}
.postsCurtidosAtividade ul figure{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    box-sizing: border-box;
    width: 100%;
}
.postsCurtidosAtividade ul figure canvas{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px; 
    right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    box-sizing: border-box;
}
.postsCurtidosAtividade ul figure .selecionadoInteracaoAtividade{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px; 
    right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.postsCurtidosAtividade ul img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-sizing: border-box;
}

.postsComentariosAtividade .atividadeComentarioAreaCriadorPost, .postsComentariosAtividade .atividadeComentarioAreaComentario{
    display: flex;
    width: 100%;
    justify-content: space-between;
  
    box-sizing: border-box;
    padding: 0 1em;
}
.postsComentariosAtividade .atividadeComentarioAreaCriadorPost{
    align-items: flex-start;
}
.postsComentariosAtividade .atividadeComentarioAreaComentario{
    align-items: center;
}

.postsComentariosAtividade .atividadeComentarioAreaCriadorPost > div , .postsComentariosAtividade .atividadeComentarioAreaComentario > div {
    display: flex;
    box-sizing: border-box;
}
.postsComentariosAtividade .atividadeComentarioAreaCriadorPost > div > div, .postsComentariosAtividade .atividadeComentarioAreaComentario > div > div{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.postsComentariosAtividade .atividadeComentarioAreaComentario > div > div{
    margin-bottom: 1em;
}
.postsComentariosAtividade .atividadeComentarioAreaCriadorPost > div > div > p,
.postsComentariosAtividade .atividadeComentarioAreaComentario > div > div > p{
    width: 100%;
}
.postsComentariosAtividade .atividadeComentarioAreaCriadorPost > div > div > p{
    margin-top: 1em;
}
.postsComentariosAtividade .atividadeComentarioAreaCriadorPost > div > div > span,
.postsComentariosAtividade .atividadeComentarioAreaComentario > div > div > span{
    width: 100%;
    color: #7C7C7C;
}
.postsComentariosAtividade .atividadeComentarioAreaCriadorPost > div > div > div, .postsComentariosAtividade .atividadeComentarioAreaComentario > div > div > div{
    display: flex;
    align-items: flex-start;
    align-content: space-between;
}
.atividadeComentarioUsuario{
    width: 65px;
    height: 80px;
    box-sizing: border-box;
    margin-right: 1em;
}
.atividadeComentarioUsuario img{
    width: 100%;
    height: 80%;
    border-radius: 100%;
}

.atividadeComentarioPost img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
}
.postsComentariosAtividade .atividadeComentarioAreaCriadorPost > div > div > div h6, 
.postsComentariosAtividade .atividadeComentarioAreaComentario > div > div > div h6 {
    font-size: 100%;
    margin-right: 10px;
}

.postsComentariosAtividade .atividadeComentarioAreaComentario{
    padding-left: 5em;
}
.atividadeComentarioAreaComentario canvas{
    width: 25px;
    height: 25px;
    border: 1px solid #E3E3E3;
    border-radius: 100%;
    box-sizing: border-box;
}


.postsComentariosAtividade li{
    box-sizing: border-box;
    padding: 1em 0;
    margin-bottom: 1em;
    border-radius: 20px;
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-property: background-color;
}

.atividadeComentarioSelecionado{
    cursor: pointer;
}
.atividadeComentarioSelecionado:hover{
    background-color: rgba(250, 150, 163, 0.247);
}
.postsComentariosAtividade ul{
    height: 35vh;
    overflow-y: auto;
}
.postsComentariosAtividade ul::-webkit-scrollbar {
    width:  15px;
    background-color: #E4E4E4;
    border-radius: 10px;
}

.postsComentariosAtividade ul::-webkit-scrollbar-thumb {
    background-color: var(--corPrincipal); 
    border-radius: 10px;
}


.postsComentariosAtividade ul::-webkit-scrollbar-button:hover {
    background-color: #969292; 
}

.minhaAtividadeExclusaoArea{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-top: 1px solid #DFDFDF;

}
.minhaAtividadeExclusaoArea button{
    background-color: transparent;
    border: none;
}
.minhaAtividadeExclusaoArea > div{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 1em;

}
.minhaAtividadeExclusaoArea > div > div{
    display: flex;
    align-items: center;
    align-content: center;
}
.minhaAtividadeExclusaoArea > div > div button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.minhaAtividadeExclusaoArea > div > div span{
    color: #535050;
}
.minhaAtividadeExclusaoArea > div > button {
    color: var(--corPrincipal);
}

.minhaAtividadeExclusaoArea > p{
    width: 100%;
    text-align: center;
    margin-top: 1em;
}