body.modal-aberta{
    overflow: hidden;
}
body.modal-fechada{
    overflow: visible;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.modal-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-lixeira {
    font-size: 48px; 
    color: #E30048; 
    margin-right: 10px; 
}

.modal-container h2 {
    font-size: 24px;
    color: #E30048; 
    margin: 0;
}

.modal-container p {
    color: #848484;  
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.modal-actions button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.botao-excluir{
    background-color: #E30048;
    border: 2px solid #E30048;
    color: white;
}

.botao-excluir:hover {
    background-color: #8e1239;
    color: white;
}

.botao-cancelar {
    background-color: transparent;
    border: 2px solid #848484;
    color: #848484;
}
.botao-cancelar:hover {

    color: black;
}