.ModalConfirmarExclusao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
}

.ModalConfirmarExclusao > div{
    background-color: #FFFFFF;
    padding: 1.3em;
    border-radius: 1em;
    width: 40%;
    box-sizing: border-box;
    margin-top: 2em;
}

.ModalConfirmarExclusao > div .ModalConfirmarExclusaoHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 1.6em;
}
.ModalConfirmarExclusao > div .ModalConfirmarExclusaoHeader figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEE4E2;
    border: 8px solid #FEF3F2;
    padding: 10px;
    border-radius: 100%;
}
.ModalConfirmarExclusao > div .ModalConfirmarExclusaoHeader img{
    width: 20px;
    height: 20px;
}
.ModalConfirmarExclusao > div .ModalConfirmarExclusaoHeader button{
    background-color: transparent;
    color: var(--corPrincipal);
    border: none;
    font-size: 130%;
}

.ModalConfirmarExclusao > div > h3{
    color: var(--corPrincipal);
    margin-bottom: 0.4em;
}
.ModalConfirmarExclusao > div > p{
    color: #7C7C7C;
}

.ModalConfirmarExclusao > div .ModalConfirmarExclusaoAcoes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.6em;
    box-sizing: border-box;
}
.ModalConfirmarExclusao > div .ModalConfirmarExclusaoAcoes .ModalConfirmarExclusaoBtExcluir{
    margin-right: 1em;
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
    color: #FFFFFF;
    padding: 10px 2em;
    border-radius: 10px;
}
.ModalConfirmarExclusao > div .ModalConfirmarExclusaoAcoes .ModalConfirmarExclusaoBtCancelar{  
    border: 1px solid #7C7C7C;
    background-color: transparent;
    color: #7C7C7C;
    padding: 10px 1em;
    border-radius: 10px;
}