body {
  height: 100%;
  background-color: #f0f0f0;
}

.paginaPerfil{
  overflow-x: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.paginaPerfil .header{
  background-color: transparent !important;
  border-bottom: 1px solid #E6E6E6;
}

.paginaPerfil .container {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  border: 20px solid #000000;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

.paginaPerfil .banner {
  width: 100%;
  height: 410px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-image: linear-gradient(to bottom, white, white, white, rgba(0,0,0,0.2));
}

.paginaPerfil .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.paginaPerfil .add-banner-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.paginaPerfil .add-banner-btn img {
  width: 24px;
  height: 24px;
 
}

.paginaPerfil .profile-contacts {
  padding: 20px;
  position: relative;
}

.paginaPerfil .contacts-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.paginaPerfil .contacts-table td {
  border-bottom: 1px solid black;
  padding: 10px;
}

.paginaPerfil .contact-cell {
  width: 100%;
}

.paginaPerfil .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginaPerfil .contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.paginaPerfil .contact-icon {
  width: 24px;
  height: 24px;
}

.paginaPerfil .external-icon {
  width: 16px;
  height: 16px;
}

.paginaPerfil .banner-text {
  top: 250px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: var(--corPrincipal);
  font-size: 14px;
  padding: 0 10px;
  z-index: 2;
}

.paginaPerfil .main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  flex: 1;
  z-index: 1;
}

.paginaPerfil .portfolio-section {
  flex: 1;
  min-width: 300px;
  z-index: 0;
}

.paginaPerfil .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 10px;
  padding-top: 20px;
  width: 73%;

}

.paginaPerfil .page-container{
  width: 100%;
}
.paginaPerfil .portfolio-section{
  width: 100%;
}

.paginaPerfil .new-project-card, .paginaPerfil  .project-card {
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  padding: 26px 20px;
  display: flex;
  
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  /* width: 250px; */
  width: 100%;
  height: 257px;
}

.paginaPerfil .new-project-button {
  border: none;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 7px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: lighter;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
}

.paginaPerfil .new-project-icon {
  padding: 3px 15px ;
  background-color: #E30048;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #fff;
  font-size: 2em;
}

.paginaPerfil .new-project-text {
  font-weight: bold;
  margin: 0;
  background-color: #E30048;
  color: #fff;
  padding: 7px 1.5em;
  border-radius: 0.7em;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 8px;
}

.paginaPerfil .profile-card {
  /* width: 300px; */
  width: 25%;
  box-sizing: border-box;
  padding-top: 140px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 2;
  top: 330px;
  right: 2%;
}

.paginaPerfil .profile-header {
  margin-bottom: 20px;
}

.paginaPerfil .profile-image-background {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.paginaPerfil .profile-image {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.paginaPerfil .profile-info {
  margin-top: 10px;
}

.paginaPerfil .profile-info h2 {
  margin: 0;
  font-size: 1.2em;
}

.paginaPerfil .profile-info p {
  margin: 5px 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginaPerfil .location-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.paginaPerfil .descricaoPerfil {
  margin: 20px 0;
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid black;
  text-align: left;
}

.paginaPerfil .profile-contacts h3 {
  margin: 0 0 10px 0;
  font-size: 1em;
  color: #333;
}

.paginaPerfil .profile-contacts ul {
  list-style: none;
  padding: 0;
}

.paginaPerfil .profile-contacts p {
  display: block;
  margin: 10px 0;
  font-size: 1em;
  color: #333;
  text-align: left;
}

.paginaPerfil .profile-contacts ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.paginaPerfil .profile-contacts ul li:last-child {
  border-bottom: none;
}

.paginaPerfil .external-icon-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.paginaPerfil .profile-contacts ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0066cc;
  width: calc(100% - 30px);
}

.paginaPerfil .profile-actions {
  margin-top: 20px;
}

.paginaPerfil .profile-actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  background-color: #E30048;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1em;
  gap: 10px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition-property: background-color;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.paginaPerfil .profile-actions a img.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.paginaPerfil .profile-actions a.no-padding {
  padding: 0;
  background-color: transparent;
  color: #E30048;
}
.paginaPerfil .profile-actions a.no-padding{
  background-color: #ffffff;
}

.paginaPerfil .profile-actions a:hover {
  background-color: #e72965;
}

.paginaPerfil .profile-actions a.no-padding:hover {
  background-color: #e0e0e0;
}



.paginaPerfil .new-project-description{
  font-size: 13px;
  color: #535353;
  width: 100%;
}

.paginaPerfil .guiaCondutor{
  align-items: center;
  justify-content: left;
  justify-items: left;
  background-color: var(--corPrincipal);
  color: white;
  border: none;
}
.paginaPerfil .guiaCondutor p{
  text-align: left;
  width: 100%;
}
.paginaPerfil .guiaCondutor a{
  color: white;

}
.paginaPerfil .guiaCondutor > a{
  text-align: left;
  width: 100%;
  font-size: 10px;
  
}
.paginaPerfil .guiaCondutor > a b{
  font-weight: normal;
}
.paginaPerfil .guiaCondutor ul{
  width: 100%;
}
.paginaPerfil .guiaCondutor li a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.paginaPerfil .guiaCondutor li a div{
  display: flex;
  align-items: center;
  justify-content: left;
}
.paginaPerfil .guiaCondutor li a div span, .guiaCondutor > a b, .guiaCondutor p{
  font-weight: 600;
}
.paginaPerfil .circuloBrancoVazio{
  display: block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid white;
  margin-right: 5px;

}
.paginaPerfil .bordaInferiror{
  border-bottom: 0.5px solid white;
}
.paginaPerfil .profile-info .botaoComum{
  border-radius: 1em;
  width: fit-content;
  margin: 0 auto;
  margin-top: 0.5em;
  padding: 7px 4em;
  /* visibility: hidden; */
  /* sq quiser ver botão e so comentar o visibility */
}

.paginaPerfil input[type="file"]{
  display: none;
}
.paginaPerfil .esconda {
  display: none;
}
.paginaPerfil .esconda[src] {
  display: block;
}
.seguidoresArea{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%;
}
.paginaPerfil .seguidoresLinha{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}


.paginaPerfil .imagemPortifolio{
  border: none;
  padding: 0;
  display: flex;
  align-items: flex-start ;
  justify-content: right;
}
.paginaPerfil .imagemPortifolio > div{
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: transparent;
  border: none;
  margin: 0 0.5em;
  z-index: 2;
}
.paginaPerfil .imagemPortifolio > div > img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  
}

.paginaPerfil .imagemPortifolio > a{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition-property: filter;
  transition-duration: 300ms;
  transition-timing-function: linear;
  background-color: #ffffff;
}
.paginaPerfil .imagemPortifolio > a > img{
  width: 100%;
  height: 100%;
}
.paginaPerfil .imagemPortifolio:hover > a{
  filter:brightness(50%);
}
.paginaPerfil .imagemPortifolio > a > div{
  position: absolute;
}
.paginaPerfil .conteudoSensivel{
  filter: blur(3px);
}
.paginaPerfil .linkContatos{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.paginaPerfil .visibilidadeOculta{
  visibility: hidden;
}